.footer {
  background-color: $footer_grey;
  color: white;
  padding: 1.5rem;

  @include media-md {
    @include flexbox(column, center, normal);
    text-align: center;
  }

  &__logo {
    padding-bottom: 1.5rem;
    font-family: "Shrikhand", cursive;
    font-size: 1.1rem;
    @include media-md {
      padding-left: 1.5rem;
    }
  }

  &__list {
    li {
      padding-bottom: 0.5rem;
    }
    a {
      color: white;
      i {
        font-size: 0.8rem;
        width: 20px;
      }
    }
  }
}
