.restaurants {
  background-color: $light_grey;
  @include padding;

  @include media-lg {
  @include padding-lg;
}

  h3 {
    padding-bottom: 2.3rem;
  }
}

.container {
  @include flexbox(column, normal, normal);
  gap: 20px;

  @include media-lg {
  @include flexbox(row, normal, space-evenly);
  flex-wrap: wrap;
  gap: 35px;
    
  }

  .cards {
    border-radius: 20px;
    @include shadow;

    @include media-lg{
      flex-basis: 45%
    }

    &__content {
      position: relative;
      
    }

    &__img {
      height: 16rem;
      width: 100%;
      border-radius: 6% 6% 0 0;
      object-fit: cover;
    }

    &__badge {
      font-size: 1.3rem;
      background-color: $blue;
      color: $green;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 5%;
      position: absolute;
      top: 1.2rem;
      right: 0.75rem;
    }
  }

  .cards__text {
    position: relative;
    background-color: white;
    @include text(black);
    padding: 1rem;

    .cards__icon {
      position: absolute;
      right: 2rem;
      top:2rem;
    }

    p {
      padding-top: 0.7rem;
      font-weight: 400;
    }
  }
}
