.working {
  @include padding;

  @include media-lg {
    @include padding-lg;
  }

  h3 {
    padding-bottom: 2.3rem;
  }

  &__list {
    @include flexbox(column, stretch, normal);
    gap: 16px;
    counter-reset: compteListe;

    @include media-md {
      @include flexbox(row, normal, space-around);
      gap: 30px;
    }
  }

  &__item {
    @include flexbox(row, center, normal);
    margin-bottom: 1rem;
    background-color: $light_grey;
    @include shadow-btn;
    padding: 2rem 0 2rem 2.3rem;
    border-radius: 30px;
    @include text(black);
    position: relative;

    @include media-md {
      flex-basis: 33%;
      justify-content: center;
      @include text-md(black);
      padding: 1rem 0.5rem 1rem 2rem;
    }

    &:before {
      @include flexbox(row, center, center);
      content: "" counter(compteListe);
      counter-increment: compteListe 1;
      position: absolute;
      width: 1.8rem;
      height: 1.8rem;
      background-color: $purple;
      color: white;
      border-radius: 50%;
      left: -0.75rem;
      font-weight: lighter;
      font-size: 1rem;
    }
  }

  i {
    color: $icon_grey;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 2rem;

    @include media-md {
      padding-right: 1.5rem;
    }
  }
}
