// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap);

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}
