// Location part //
.location {
  @include flexbox(row, center, center);

  padding: 1rem;
  background-color: $dark_grey;
  color: $footer_grey;

  i {
    padding-right: 1.2rem;
    align-self: center;
  }
  p {
    font-weight: bold;
  }
}

// Description part //
.presentation {
  padding: 2.5rem 1.5rem 4.5rem 1.5rem;
  text-align: center;
  background-color: $light_grey;

  h2 {
    padding-bottom: 0.8rem;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
  }

  .btn {
    @include btn-gradient;

    &:hover {
      background: linear-gradient(
        0deg,
        lighten($purple, 5%),
        lighten($pink, 5%)
      );
      box-shadow: 0.25rem 0.25rem 16px rgb(0 0 0 / 30%);
    }
  }
}

// Working part //
.working {
  padding: 2.5rem 1.5rem 3.5rem 1.5rem;

  @include media-md {
    @include responsive-margin;
    padding-left: 0;
    padding-right: 0;
  }

  h3 {
    padding-bottom: 2.3rem;
  }

  &__list {
    @include flexbox(column, stretch, normal);
    gap: 16px;
    counter-reset: compteListe;

    @include media-md {
      @include flexbox(row, normal, space-between);
      gap: 30px;
    }
  }

  &__item {
    @include flexbox(row, center, start);
    margin-bottom: 1rem;
    background-color: $light_grey;
    @include shadow-btn;
    padding: 1.5rem 1rem 1.5rem 2rem;
    border-radius: 18px;
    @include text(black);
    position: relative;

    &:hover {
      background-color: #f5edff;
      &:hover i {
        color: $purple;
      }
    }

    @include media-md {
      flex-basis: 33%;
      @include text-md(black);
      font-size: 1rem;
      max-width: 410px;
    }

    &:before {
      @include flexbox(row, center, center);
      content: "" counter(compteListe);
      counter-increment: compteListe 1;
      width: 1.8rem;
      height: 1.8rem;
      background-color: $purple;
      color: white;
      border-radius: 50%;
      font-weight: lighter;
      font-size: 1rem;
      position: absolute;
      left: -0.75rem;

      
    }
  }

  i {
    color: $icon_grey;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 1rem;

    @include media-md {
    }
  }
}

// Restaurants part //
.restaurants {
  @include flexbox(column, normal, space-between);
  background-color: $light_grey;
  padding: 3rem 1.5rem 2.5rem 1.5rem;



  h3 {
    flex-basis: 100%;
  }
}

.container {
  @include flexbox(column, normal, space-between);
  gap: 20px;
  margin-bottom: 1.5rem;

  @include media-sm {
    @include flexbox(row, center, space-between);
    background-color: $light_grey;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
  }

  @include media-md {
    @include responsive-margin;
  }

  .cards {
    border-radius: 20px;
    @include shadow;
    background-color: white;

    @include media-sm {
      flex-basis: 48%;
      flex-shrink: 1;
    }

    &__content {
      position: relative;
    }

    &__img {
      height: 180px;
      width: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;

      @include media-md {
        height: 220px;
      }
    }

    &__badge {
      font-size: 0.9rem;
      background-color: $blue;
      color: $green;
      font-weight: bold;
      padding: 0.4rem 0.8rem;
      border-radius: 5%;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
  }

  .cards__text {
    @include flexbox(row, normal, space-between);
    padding: 0.5rem 0.8rem 1rem 0.8rem;
    color: black;
  }

  .cards__legend {
    @include flexbox(column, normal, normal);
    flex-basis: 65%;

    h4 {
      font-size: 1.1rem;
      font-weight: 700;
    }

    p {
      padding-top: 0.3rem;
      font-weight: 300;
    }
  }

  .cards__icon {
    @include flexbox(column, normal, normal);
    font-size: 1.5rem;

    .full {
      display: none;
    }
  }
}
