.header--return {
  @include flexbox(row, center, center);
  position: relative;

  i {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 30px;
    color: black;
  }
}

.menu {
  @include flexbox(column, normal, center);
  position: relative;

  @include media-sm {
    background-color: white;
  }

  &__image {
    height: 260px;
    object-fit: cover;

    @include media-sm {
      height: 350px;
      background-color: white;
    }
  }

  &__container {
    @include flexbox(column, normal, normal);
    background-color: $light-grey;
    position: relative;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    padding: 2rem 1rem 0rem 1rem;
    margin-top: -40px;

    @include media-sm {
      margin: -100px 180px 0 180px;
    }

    @include media-md {
      @include responsive-margin;
      min-width: 1100px;
      margin-top: -100px;
    }
  }

  &__title {
    @include flexbox(row, normal, normal);

    @include media-sm {
      flex-basis: 100%;
    }

    h2 {
      font-family: "Shrikhand", cursive;
      font-size: 1.7rem;
      font-weight: 500;
      padding-bottom: 2.2rem;
      flex: 1;
    }

    i {
      padding-right: 1.2rem;
      font-size: x-large;
    }

    .full {
      display: none;
    }
  }

  &__cards {
    @include flexbox(column, normal, normal);
    padding-bottom: 2.5rem;

    @include media-sm {
      flex-basis: 30%;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem;
      padding-bottom: 1.5rem;
      position: relative;

      &::after {
        content: "";
        width: 40px;
        height: 3.5px;
        background-color: $blue;
        position: absolute;
        top: 23px;
        left: 0;
      }
    }
  }
}

.cards__details {
  @include flexbox(column, normal, normal);
  gap: 14px;
}

.items {
  @include flexbox(row, center, normal);
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem 1.2rem 0.5rem 0.8rem;
  @include shadow;
  animation: lazy-loading 1s;
  animation-fill-mode: both;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }

  @keyframes lazy-loading {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  &__name {
    @include flexbox(column, normal, center);
    flex: 1;
    overflow: hidden;

    h4 {
      padding-bottom: 0.4rem;
      font-size: 1.1rem;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      font-size: 0.95rem;
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__price {
    @include flexbox(row, flex-end, flex-end);
    transform: translateY(11px);
    font-weight: 700;
    padding-left: 1.2rem;
  }

  &__check {
    display: none;
  }
}

.btn__order {
  @include flexbox(row, center, center);
  padding-top: 0.5rem;
  padding-bottom: 5rem;

  @include media-sm {
    flex-basis: 100%;
  }

  .btn {
    @include btn-gradient;
    padding: 1rem 3.2rem;

    &.btn:hover {
      @include btn-hover;
    }
  }
}
