/* ------------------------------ HEADER ------------------------------ */
.header--return {
  @include flexbox(row, center, center);
  position: relative;

  i {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 30px;
    color: black;
  }
}

/* ------------------------------ MAIN ------------------------------ */
.menu {
  @include flexbox(column, normal, center);
  position: relative;

  @include media-sm {
    background-color: white;
  }

  &__image {
    height: 260px;
    object-fit: cover;

    @include media-sm {
      height: 350px;
      background-color: white;
    }
  }

  &__container {
    @include flexbox(column, normal, normal);
    background-color: $light-grey;
    position: relative;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    padding: 2rem 1rem 0rem 1rem;
    margin-top: -40px;

    @include media-sm {
      margin: -100px 180px 0 180px;
    }

    @include media-md {
      @include responsive-margin;
      min-width: 1100px;
      margin-top: -100px;
    }
  }

  &__title {
    @include flexbox(row, normal, normal);

    @include media-sm {
      flex-basis: 100%;
    }

    h2 {
      font-family: "Shrikhand", cursive;
      font-size: 1.7rem;
      font-weight: 500;
      padding-bottom: 2.2rem;
      flex: 1;
    }

    .menu__icon {
      position: relative;
      i {
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 22%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      /* Heart animation */
      .empty {
        &:hover {
          opacity: 0;
        }
      }

      .full {
        opacity: 0;
        transition: 1.5s ease-out;
        background-image: linear-gradient(250deg, $purple, $pink);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);

        &:hover {
          opacity: 1;
          animation: heart-size 2s linear;
        }
      }
    }
  }

  &__cards {
    @include flexbox(column, normal, normal);
    padding-bottom: 2.5rem;

    @include media-sm {
      flex-basis: 30%;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem;
      padding-bottom: 1.5rem;
      position: relative;

      &::after {
        content: "";
        width: 40px;
        height: 3.5px;
        background-color: $blue;
        position: absolute;
        top: 23px;
        left: 0;
      }
    }
  }
}

.cards__details {
  @include flexbox(column, normal, normal);
  gap: 14px;
}

.items {
  @include flexbox(row, center, normal);
  background-color: white;
  border-radius: 15px;
  padding-left: 0.8rem;
  @include shadow;
  animation: lazy-loading 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
  overflow: hidden;
  cursor: pointer;

  /* ------------------------------ LAZY LOADING ------------------------------ */

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 200ms * $i;
    }
  }

  /* ------------------------------ CHECK ------------------------------ */
  &:hover {
    .items__check {
      margin-right: 0;
    }

    i {
      animation: spin-check 1s;
    }
  }
  /* ------------------------------------------------------------ */

  &__name {
    @include flexbox(column, normal, center);
    flex: 1;
    overflow: hidden;

    h4 {
      padding-bottom: 0.4rem;
      font-size: 1.1rem;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-top: 0.8rem;
    }

    p {
      font-size: 0.95rem;
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }
  }

  &__price {
    @include flexbox(row, flex-end, flex-end);
    transform: translateY(11px);
    font-weight: 700;
    padding-left: 1.2rem;
    padding-right: 1rem;
  }

  &__check {
    background-color: $check;
    @include flexbox(row, center, center);
    height: 65px;
    width: 3.5rem;
    border-radius: 0 15px 15px 0;
    margin-right: -4rem;
    transition: all 0.4s ease-in-out;

    i {
      color: white;
      font-weight: 900;
      font-size: 1.5rem;
    }
  }
}

.btn__order {
  @include flexbox(row, center, center);
  padding-top: 0.5rem;
  padding-bottom: 5rem;

  @include media-sm {
    flex-basis: 100%;
  }

  .btn {
    @include btn-gradient;
    padding: 1rem 3.2rem;

    &.btn:hover {
      @include btn-hover;
    }
  }
}
