// Font Variables
$Shrikhand: 'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;

// Colors
$dark_grey: #eaeaea;
$light_grey:#f6f6f6;
$icon_grey: #7e7e7e;
$footer_grey:#353535;
$pink:#FF79DA;
$purple: #9356DC;
$blue: #99E2D0;
$green: #038868; 
$check:#99e2d0;


// Text
$text_size: 1.2rem